<ul class="media-list">
  <% microposts.each do |micropost| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(micropost.user, { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
        </div>
        <div>
          <p><%= micropost.content %></p>
        </div>
        <div class="btn-toolbar">
          
          <div class="btn-group">
            <% if current_user.like?(micropost) %>
              <%= link_to "Unlike", favorite_path( params: { favor_id: micropost.id }), method: :delete, data: { confirm: "You sure?" }, class: "btn, btn-danger btn-xs" %>
            <% else %>
              <%= link_to "Like", favorites_path( params: { favor_id: micropost.id }), method: :post, class: "btn, btn-primary btn-xs" %>
            <% end %>
          </div>
          <div class="btn-group">
            <% if current_user == micropost.user %>
              <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: "btn, btn-danger btn-xs" %>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate microposts %>
</ul>